@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-gray: #F3F8FF;
  --color-green: #169F51;
  --color-green-text: #166534;
  --color-green-card: #F0FCF5;
  --color-green-background: #DCFCE7;
  --color-blue: #1D52D1;
  --color-dark-blue: #111827;
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-roboto {
    font-family: var(--font-roboto);
  }

  .linear-gradient {
    background: linear-gradient(var(--color-green) to var(--color-blue));
  }
}